.icon-button {
  border-radius: 50%;
  padding: 5px;
  margin: -5px;
  cursor: pointer;
  transition: 0.25s ease-in-out;
  overflow: hidden;
}

.icon-button:hover {
  background-color: rgba(120,120,120,0.5);
}

.icon-button .hitbox {
  padding: 5px;
  margin: -5px;
}